body {
	position: relative;
}

#wrapper {
	margin: auto;
	background-color: #ffffcc;
	width: 1200px;
	height: 700px;
	position: relative;
}

#left_flamingo {
	width: 210px;
	height: 300px;
	color: white;
	position: absolute;
	top: 10px;
	left: 10px;
	color: #ffcccc;
}


#right_flamingo {
	width: 210px;
	height: 300px;
	top: 380px;
	left: 980px;
	position: absolute;
	color: #ffcccc;
}

#title_screen, #game {
	margin: auto;
	width: 60%;
	height: 550px;
	top: 35px;
	left: 0;
	right: 0;
	position: absolute;
	overflow: hidden;
	background: white;
}

#jeb {
	position: absolute;
	bottom: 20%;
	left: 40px;
}

#title_screen text {
	color: rgb(202,35,43);
	position: absolute;
	font-size: 60px;
	font-family: "Baskerville";
	font-weight: bolder;
	bottom: 20%;
	right: 50px;
}

#title_screen button {
	width: 98px;
	height: 48px;
	position: absolute;
	font-family: "Baskerville";
	font-weight: bolder;
	font-size: 40px;
	color: transparent;
	background-color: transparent;
	bottom: 346px;
	right: 505px;
}

#title_screen button:hover {
	background-color: transparent;
	color: rgb(202,35,43);
}

.text {
	top: 35px;
    left: 0;
	right: 0;
	width: 60%;
	margin: auto;
	padding-top: 15px;
	padding-bottom: 10px;
	background-color: #ffcccc;
	color: white;
	font-family: "Comic Sans MS";
	border-radius: 8px;
	overflow: hidden;
	position: absolute;
	display: none;
	font-size: 17px;
}

.text p, h1, label {
	
	padding-left: 30px;
	padding-right: 30px;
	line-height: 26px;

}

button {
	width: 105px;
	height: 45px;
	margin-left: 80%;
	font-family: "Comic Sans MS";
	font-weight: medium;
	font-size: 20px;
	background-color: white;
	color: turquoise;
	border: turquoise;
	cursor: pointer;
	border-radius: 6px;
	margin-bottom: 10px;
}

button:hover {
	background-color: turquoise;
	color: white;
}

button:focus {
	outline: none;
}

input {
	background-color: #ffcccc;
	font-family: "Comic Sans MS";
	color: white;
	font-size: 18px;
	box-shadow: none;
	border: none;
	border-bottom: solid 2px white;
	width: 130px;
	margin-left: 10px; 
}

input:focus {
	outline: none;
}

#game {
	display: none;
}

#score {
	font-family: "Comic Sans MS";
	font-size: 48px;
	position: absolute;
	left: 230px;
	top: 30px;

}

meter {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-transform: rotate(270deg);
	width: 500px;
	height: 45px;
	position: absolute;
	bottom: 235px;

}

#energy {
	
	right: 60%;
}

#corruption {
	left: 60%;

}

meter::-webkit-meter-bar {
	background: white;
	border-radius: 4px;
	
}


#energy::-webkit-meter-optimum-value {
	background: rgb(202,35,43);
	border-radius: 4px;
}

#energy::-webkit-meter-suboptimum-value {
	background: #e05259;
	border-radius: 4px;
}

#energy::-webkit-meter-even-less-good-value {
	background: #e87d82;
	border-radius: 4px;
}


#corruption::-webkit-meter-optimum-value {
	background: #ffa64d;
	border-radius: 4px;
}

#corruption::-webkit-meter-suboptimum-value {
	background: #ffbf80;
	border-radius: 4px;
}

#corruption::-webkit-meter-even-less-good-value {
	background: #ffcc99;
	border-radius: 4px;
}

#n_g_bar {
	position: absolute;
	left: 160px;
	bottom: 100px;
}

#trump {
	position: absolute;
	right: 160px;
	bottom: 50px;
}
